body {
  font-family: Helvetica, sans-serif;
  font-size: 11pt;
  background-color: #4a4850;
  color: #ccc;
}

summary {
  color: #eee;
}

a {
  text-decoration: none;
  color: #eee;
}

.container {
  margin: 40px;
  padding: 24px;
  height: 80vh;
  width: 90vw;
  min-width: 900px;
  display: flex;
  flex-direction: column;
  background: #222;
  border: 1px solid black;
}

.top-bar {
  padding: 22px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.top-bar > span { display: flex; margin-right: 20px; }
.top-bar > #money-stat { color: lightgreen; }
.top-bar > #science-stat { color: lightblue; }
.top-bar > #art-stat { color: lightpink; }
.top-bar > #philosophy-stat { color: orange; }

.frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-menu {
  width: 15%;
  min-width: 200px;
  padding: 20px;
  margin-right: 50px;
  background: #333;
  overflow-y: scroll;
}

.right-menu {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.active-document-container {
  width: 50%;
  border: 5px dashed #555;
  padding: 20px;
  display: flex;
  min-height: 60vh;
  flex-direction: column;
  justify-content: flex-end;
}

#active-document {
  color: #ddd;
  font-size: 30pt;
  font-family: Courier, monospaced;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 58vh;
}

#active-document > .phrase {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  height: 10px;
  min-height: 10px;
  padding: 5px;
}

.phrase > div {
  display: flex;
  flex-direction: column;
  width: 8px;
  min-width: 8px;
  height: 15px;
  min-height: 15px;
}

.phrase > .block {
  background-color: #ddd;
}

.phrase > .block-faded {
  background-color: #666;
}

#active-document-stats {
  display: flex;
  color: #555;
  height: 20px;
  margin: auto;
}

ul#system-messages {
  list-style: none;
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;
}

ul#system-messages > li {
  padding: 8px;
  margin: 2px;
  background: #121;
  font-size: 70%;
}

ul#system-messages > li.highlight {
  background: #343;
}
