body {
  font-family: Helvetica, sans-serif;
  font-size: 11pt;
  background-color: #4a4850;
  color: #ccc;
}

summary {
  color: #eee;
}

a {
  text-decoration: none;
  color: #eee;
}

.container {
  margin: 40px;
  padding: 24px;
  height: 80vh;
  width: 90vw;
  min-width: 900px;
  display: flex;
  flex-direction: column;
  background: #222;
  border: 1px solid black;
}

.top-bar {
  padding: 22px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.top-bar > span { display: flex; margin-right: 20px; }
.top-bar > .money-stat { color: lightgreen; }
.top-bar > .science-stat { color: lightblue; }
.top-bar > .art-stat { color: lightpink; }
.top-bar > .philosophy-stat { color: orange; }

.frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-menu {
  width: 15%;
  min-width: 200px;
  padding: 20px;
  margin-right: 50px;
  background: #333;
}

.right-menu {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.active-document-container {
  width: 50%;
  border: 5px dashed #555;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#active-document {
  color: #ddd;
  font-size: 30pt;
  font-family: Courier, monospaced;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

#active-document > .phrase {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  height: 16px;
  min-height: 16px;
  padding: 3px;
}

.phrase > .block {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  width: 10px;
  min-width: 10px;
  height: 10px;
  min-height: 10px;
}

.phrase > .space {
  display: flex;
  flex-direction: column;
  width: 10px;
  min-width: 10px;
  height: 10px;
  min-height: 10px;
}

.active-document-stats {
  display: flex;
  color: #555;
  height: 20px;
}

ul.system-messages {
  list-style: none;
}

ul.system-messages > li {
  padding: 8px;
  margin: 2px;
  background: #121;
  font-size: 70%;
}

ul.system-messages > li.highlight {
  background: #343;
}
